extends partials/layout.pug

block content
    .content.container
        .row
            h1 Image to Notes
        .row
            .col-4
                canvas#imagePreview
            .col-4
                #svgPreview
            .col-4
                #ui